/* FONTS AND OVERALL COLOR */
/* FONTS AND OVERALL COLOR */
/* FONTS AND OVERALL COLOR */

* {
  font-family: "Oswald", serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  padding-left: 2.5rem;
}

h3 {
  padding-top: 2rem;
  padding-bottom: 0.7rem;
}

main {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

p,
h2 {
  padding-left: 2.5rem;
}

#medium-heading {
  padding-top: 2rem;
}

body {
  background-color: rgb(250, 250, 250);
}

/* HEADER */
/* HEADER */
/* HEADER */

header {
  border-bottom: solid 0.2rem rgb(50, 50, 50);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-low {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-link {
  padding-left: 0rem;
}

#text-logo {
  font-weight: 400;
  font-size: 3.5rem;
  padding-top: 3.5rem;
  margin-bottom: 1rem;
  padding-left: 0rem;
}

.logo {
  /* float: left; added from https://www.w3schools.com/css/css_website_layout.asp accessed: 2025-01-17 */
  width: 3.5rem;
  height: 3.5rem;
  padding-top: 4.5rem;
  padding-right: 1rem;
}

#logo-link {
  padding-left: 0rem;
}

ul,
a {
  list-style: none;
  color: black;
  font-size: 1.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  margin-top: 0rem;
}

ul {
  padding-left: 0;
}

/* BODY */
/* BODY */
/* BODY */

/* INDEX */
/* INDEX */
/* INDEX */

.title_welcome {
  margin-bottom: 0rem;
}

.title {
  margin-top: 0rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.project-image {
  width: 90%;
  height: auto;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

figure {
  margin-left: 0;
}

/* ABOUT ME PAGE */
/* ABOUT ME PAGE */
/* ABOUT ME PAGE */

.portrait {
  width: 100%;
  padding-left: 0rem;
}

.aboutme-text {
  margin-top: 0rem;
  padding-top: 0rem;
  margin-right: 2rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

/* CONTACT PAGE  */
/* CONTACT PAGE  */
/* CONTACT PAGE  */

form {
  flex: left;
  padding-left: 2.5rem;
}

.submit-button {
  padding-top: 2rem;
}

.contact-text {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* TRATTORIA DEL MAR  */
/* TRATTORIA DEL MAR  */
/* TRATTORIA DEL MAR  */

.trattoria-img {
  width: 100%;
}

.project-trattoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding-top: 2rem;
}

.trattoria-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  border-top: 0rem;
  margin-top: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: rgb(0, 0, 0);
}

#footer_text {
  color: rgb(255, 255, 255);
  padding-left: 0rem;
  padding-top: 1rem;
}

#white-name {
  color: white;
  padding-top: 0rem;
  padding-left: 0.4rem;
  font-weight: 400;
  font-size: 2rem;
}

#small-photo-logo {
  padding-top: 0.6rem;
  width: 2rem;
  height: 2rem;
}

.small-logo {
  display: flex;
}

#social-media-logo {
  width: 1.5rem;
  height: 1.5rem;
  padding-top: 1.5rem;
  padding-right: 0.8rem;
}

#social-media-link {
  padding-left: 0rem;
  padding-bottom: 0rem;
}

/* SCALING */
/* SCALING */
/* SCALING */

@media screen and (max-width: 420px) {
  ul,
  nav a {
    flex-direction: column;
    padding-left: 0rem;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 4.2rem;
  }
  #text-logo {
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 3.5rem;
    margin-bottom: 1rem;
    padding-left: 0rem;
  }
  .about-container {
    padding-bottom: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-bottom: 3rem;
  }
}
